body {
    color: #334;
	font-family: verdana, sans-serif;
	background-color: #fff;
}

div#header {
    height: 18px;
	background-color: #f1f7f8;
	background-color: #e0e6ef;
    padding: 3px 10px 5px 10px;
    margin: 6px 0 0 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

div#header h1 {
    float: left;
    margin-top: -1px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 13px;
}

div#header form {
    float: right;
    margin-right: 0px;
}


div#container {
	margin: 0px auto;
	width: 660px;
}

div#main {
    padding: 10px 0px 0 10px;
}

form.add {
    padding: 20px 10px;
    background-color: #fff0d0;
    margin-top: -6px;
    margin-left: -10px;
    margin-bottom:20px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

label {
    font-weight: bold;
    color: #666;
    font-size: 11px;
    display: block;
}

#main h2 {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
}

h2 a.toggle {
    color: #33c;
    font-weight: bold;
    font-size: 10px;
}

.attributes ul {
    margin: 10px;
}

li {
    margin: 4px 0;
}

a.delete {
    color: #c00;
    font-weight: bold;
    font-size: 11px;
}

div.marker {
    float: left;
    margin-right: 6px;
    width: 14px;
    /*border: 1px solid #666;*/
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

dl.metadata {
    padding: 10px;
    background-color: #fff0d0;
    background-color: #f3f3f3;
    margin-top: 12px;
    margin-right: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

dl.metadata dt {
    font-weight: bold;
    float: left;
    width: 150px;
}

dl.metadata dd {
    margin-left: 160px;
}
